@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    font-size: 20px;
}

body {
    background-color: #ffffff;
    color: #222328;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.main {
    float: left;
    width: 1000px;
    height: 650px;
}
/* //Main Wrap */

header {
    float: left;
    width: 200px;
    height: 650px;
    background-color: #f0ffff;
}
header .logo {
    float: left;
    width: 100%;
    height: 40px;
}
.logo img {
    width: 200px;
    height: 40px;
}
header .menu {
    float: left;
    width:100%;
    height: 500px;
    margin-top: 100px;
    text-align: center;
    position: relative;
}
.menu .mainMenu > li {
    float: left;
    width: 180px;
    margin-left: 10px;
}
.menu .mainMenu > li > a {
    color: #eeeeee;   
    background-color: #444444;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
.menu .mainMenu > li > a:hover {
    background-color: #eda3d9;
}
.menu .subMenu {
    position: absolute;
    left: 190px;
    top: -40px;
    background-color: #eda3d9;
    height: 300px;
    display: none;
    z-index: 1;
}
.menu .subMenu > li {
    height: 40px;
    line-height: 40px;
    width: 180px;
}
.menu .subMenu > li a {
    font-size: 14px;
    font-weight: bold;
}
.menu .subMenu > li a:hover {
    background-color: #555555;
    color: #eda9d9;
}
/* //Header */

.bodyWrap {
    float: right;
    width: 800px;
    height: 650px;
}
/* //Body wrap */

.imgSlide {
    float: right;
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.imgSlide .slideList {
    width: 2400px;
}
.slideList .imgText {
    position: absolute;
    margin-left: 300px;
    margin-top: 150px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(40,40,40,0.7);
    color: #eda9d9;
}
.slideList img {
    float: left;
}
/* //Image Slide */

.contents {
    float: right;
    width: 100%;
    height: 200px;
}
.contents .notice {
    float: left;
    width: 300px;
    height: 200px;
}
.notice h4 a{
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #bbbbbb;
}
.notice ul li a{
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 280px;
    margin-left: 10px;
}
.notice li:nth-child(2n) {
    background: rgba(0,0,0,0.5);
}
.notice ul li a:hover {
    font-weight: bold;
}
.notice ul li a span{
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.contents .gallery {
    float: left;
    width: 300px;
    height: 200px;
}
.gallery h4 a {
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #bbbbbb;
}
.gallery ul {
    margin-top: 30px;
    width: 300px;
}
.gallery ul li {
    float: left;
    margin-left: 15px;
}
.gallery ul li img {
    width: 80px;
    height: 80px;
}
.gallery ul li a:hover {
    opacity: 0.5;
}
.contents .banner {
    float: right;
    width: 200px;
    height: 200px;
}

footer {
    float: right;
    width: 100%;
    height: 100px;
}
footer .btlogo {
    float: left;
    width: 200px;
    height: 100px;
}
footer .btmenu {
    float: right;
    width: 600px;
    height: 50px;
}
footer .copyright {
    float: right;
    width: 600px;
    height: 50px;
}